*.pyc
*.log
node_modules
*.coverage
arches_rdm_example_project/logs
arches_rdm_example_project/export_deliverables
arches_rdm_example_project/cantaloupe/*
arches_rdm_example_project/staticfiles
arches_rdm_example_project/media/packages
arches_rdm_example_project/media/build/
arches_rdm_example_project/uploadedfiles/*
arches_rdm_example_project/settings_local.py
webpack-stats.json
.vscode/
*.egg-info
.DS_STORE
CACHE