*.pyc
*.log
arches_rdm_example_project/logs
arches_rdm_example_project/export_deliverables
arches_rdm_example_project/cantaloupe/*
arches_rdm_example_project/staticfiles
arches_rdm_example_project/media/packages
arches_rdm_example_project/media/node_modules
arches_rdm_example_project/media/build/
arches_rdm_example_project/uploadedfiles/*
arches_rdm_example_project/settings_local.py
arches_rdm_example_project/webpack/webpack-stats.json
arches_rdm_example_project/webpack/webpack-user-config.js
.vscode/
.coverage
coverage.*
*.egg-info
.DS_STORE
CACHE